{{ define "slack.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }}
*Severity:* {{ .Labels.severity }}
*Description:* {{ .Annotations.description }}
*Details:*
{{ range .Labels.SortedPairs }}  • *{{ .Name }}:* {{ .Value }}
{{ end }}
{{ end }}
{{ end }}

{{ define "pagerduty.description" }}
{{ .CommonLabels.alertname }}: {{ .CommonAnnotations.description }}
{{ end }}
